body{ 
  font-family: 'Varela Round','Roboto','Helvetica','sans-serif';
}
.navbar{
  transition:500ms ease;
  background:transparent !important;
}
.navbar.scrolled{
  background:#34495E !important;
}
.nav-link{
  padding-top:0.5rem;
}

.navbar-nav .active>.nav-link{
    color:#ffffff !important;
}
.navbar-nav .active>.nav-link:hover{
color:#41B883 !important;
}
.navbar-brand{
color:white !important;
}
.fa:hover{
transition: 200ms ease-in-out;
color:#28a745 !important;
cursor: pointer;
}
.footer{
color: rgb(239, 242, 245);
padding:2%;
background-color: #34495E;
}

